
:root {
  --theme-pokemon-link-color: rgb(167, 212, 174);
  --theme-item-link-color: rgb(179, 167, 212);
  --theme-light-color: rgb(212, 167, 167);
  --theme-most-light-color: rgb(229, 215, 215);
  --theme-color: rgb(168,0,31);
  --theme-dark-color: rgb(68, 7, 16);
  --theme-background-color: rgb(128,0,21);
  --theme-navbar-background-color: rgb(68, 7, 16);
  --gb-background-color: rgb(228,212,228);
}

body {
  font-family: 'Verdana', 'Arial', 'Tahoma', sans-serif;
  margin: 0;
  padding-bottom: 70px;
  color: white;
  background-color: var(--theme-color);
}

h1 {
  color: var(--theme-light-color);
  text-align: center;
  margin-bottom: 0;
}

h2 {
  color: var(--theme-light-color);
  text-align: center;
  margin-top: 0;
}

a {
  color: var(--theme-light-color);
}

.main-content {
  max-width: 1350px;
  margin: auto;
}

.navbar {
  border: 2px solid black;
  position: sticky;
  top: 0;
}

.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--theme-navbar-background-color);
}

.navbar > ul > li {
  float: left;
}

.navbar > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar > ul > li.active {
  background-color: limegreen;
  color: var(--theme-light-color);
  font-weight: bold;
}

.navbar > ul > li > a:hover:not(.active) {
  background-color: rgb(21, 20, 20);
  transition: background-color 0.175s ease-in;
}

.footer {
  border: 2px solid black;
  margin: 15px;
  margin-bottom: 0px;
}

.footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.footer > ul > li {
  float: center;
  border-bottom: 1px dashed black;
}

.footer > ul > li:last-child {
  border-bottom: 0px;
}

.footer > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer > ul > li.active {
  background-color: limegreen;
  color: var(--theme-light-color);
  font-weight: bold;
}

.footer > ul > li > a:hover:not(.active) {
  background-color: rgb(21, 20, 20);
}

.about {
  display: grid;
  margin-top: 20px;
}

.about-description {
  margin: 10px;
  text-align: center;
}

.copyright {
  margin: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 15px;
  text-align: center;
  border: 2px solid black;
}

.description {
  font-family: 'Courier New';
  color: white;
}

.card-page-content {
  text-align: center;
  padding: 10px;
  padding-top: 0px;
}

.card-page-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--theme-background-color);
  border-radius: 9px;
}

.poke-card-box,
.item-card-box,
.move-card-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: black;
  display: grid;
  background-color: var(--gb-background-color);
  padding: 10px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 9px;
  text-align: center;
  cursor: cell;
  transition: background-color 0.5s ease-out;
}

.poke-card-box.caught {
  background-color: greenyellow;
  border: 2px dashed var(--theme-color);
  transition: all 0.5s ease-in;
}

.poke-card-ball {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.poke-card-name,
.item-card-name,
.move-card-name {
  font-family: 'Verdana', 'Arial', 'Tahoma', sans-serif;
  color: var(--theme-color);
  font-size: 1.2rem;
}

.item-card-name-move,
.move-card-name-item {
  font-family: 'Verdana', 'Arial', 'Tahoma', sans-serif;
  font-style: italic;
  font-size: 1.0rem;
  border-radius: 10px;
  padding: 2px;
  padding-bottom: 3px;
  margin-top: 2px;
  margin-bottom: 10px;
  background-color: var(--theme-dark-color);
}
.move-card-name-item {
  color: var(--theme-light-color);
}

.poke-card-id,
.item-card-id,
.move-card-id {
  color: grey;
  font-weight: bold;
}

.poke-card-image-block,
.item-card-image-block,
.move-card-image-block {
  background-color: rgb(248,232,248);
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  transition: border-radius 0.5s ease-out;
}

.poke-card-image-block.caught {
  border-radius: 100%;
  transition: border-radius 0.5s ease-in;
}

.poke-card-image-block.pokeball {
  border-radius: 100%;
}

.poke-card-image,
.item-card-image,
.move-card-image {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.poke-card-element {
  margin-top: 5px;
  margin-bottom: 3px;
}

.element-name {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  color: rgb(248,232,248);
  font-weight: bold;
  border-radius: 12px;
}
.element-Grass {
  background-color: hsl(134, 54%, 62%);
}
.element-Bug {
  background-color: hsl(91, 54%, 62%);
}
.element-Dragon {
  background-color: hsl(259, 54%, 62%);
}
.element-Electric {
  background-color: hsl(59, 67%, 72%);
  color: rgb(27, 24, 27);
}
.element-Fighting {
  background-color: hsl(25, 54%, 62%);
}
.element-Fire {
  background-color: hsl(0, 54%, 62%);
}
.element-Flying {
  background-color: hsl(215, 54%, 62%);
}
.element-Ghost {
  background-color: hsl(238, 54%, 62%);
}
.element-Grass {
  background-color: hsl(134, 54%, 62%);
}
.element-Ground {
  background-color: hsl(60, 38%, 48%);
}
.element-Ice {
  background-color: hsl(191, 54%, 62%);
}
.element-Normal {
  background-color: hsl(30, 16%, 85%);
  color: rgb(27, 24, 27);
}
.element-Poison {
  background-color: hsl(271, 54%, 62%);
}
.element-Psychic {
  background-color: hsl(316, 54%, 62%);
}
.element-Rock {
  background-color: hsl(39, 54%, 62%);
}
.element-Water {
  background-color: hsl(228, 71%, 61%);
}

.element-name-soft {
  font-weight: bold;
}
.element-Grass-soft {
  color: hsl(134, 54%, 62%);
}
.element-Bug-soft {
  color: hsl(91, 54%, 62%);
}
.element-Dragon-soft {
  color: hsl(259, 54%, 62%);
}
.element-Electric-soft {
  color: hsl(59, 67%, 72%);
}
.element-Fighting-soft {
  color: hsl(25, 54%, 62%);
}
.element-Fire-soft {
  color: hsl(0, 54%, 62%);
}
.element-Flying-soft {
  color: hsl(215, 54%, 62%);
}
.element-Ghost-soft {
  color: hsl(238, 54%, 62%);
}
.element-Grass-soft {
  color: hsl(134, 54%, 62%);
}
.element-Ground-soft {
  color: hsl(60, 38%, 48%);
}
.element-Ice-soft {
  color: hsl(191, 54%, 62%);
}
.element-Normal-soft {
  color: hsl(30, 16%, 85%);
}
.element-Poison-soft {
  color: hsl(271, 54%, 62%);
}
.element-Psychic-soft {
  color: hsl(316, 54%, 62%);
}
.element-Rock-soft {
  color: hsl(39, 54%, 62%);
}
.element-Water-soft {
  color: hsl(228, 71%, 61%);
}

.pokedex-page,
.itemdex-page,
.movedex-page {
  display: flex;
  justify-content: left;
  margin: 10px;
  padding: 10px;
}

.pokedex-table,
.itemdex-table,
.movedex-table {
  border: 10px solid var(--theme-dark-color);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.pokedex-table > tbody > tr > th, .pokedex-table > tbody > tr > td,
.itemdex-table > tbody > tr > th, .itemdex-table > tbody > tr > td,
.movedex-table > tbody > tr > th, .movedex-table > tbody > tr > td {
  border: 3px solid rgb(51, 24, 24);
  background-color: var(--theme-background-color);
  border-radius: 6px;
  padding: 10px;
}

.pokedex-name,
.itemdex-name,
.movedex-name {
  color: var(--theme-light-color);
  text-align: center;
  font-weight: bolder;
  font-size: 2.5em;
}

.pokedex-subscript,
.itemdex-subscript,
.movedex-subscript {
  color: var(--theme-light-color);
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.pokedex-types {
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
}

.pokedex-types-table,
.pokedex-species-table,
.pokedex-info-table,
.pokedex-desc-table,
.pokedex-evolution-table,
.pokedex-trivia-table,
.itemdex-desc-table,
.itemdex-trivia-table,
.movedex-desc-table,
.movedex-trivia-table {
  width: 100%;
}

.pokedex-types-table > tbody > tr > th, .pokedex-types-table > tbody > tr > td,
.pokedex-species-table > tbody > tr > th, .pokedex-species-table > tbody > tr > td,
.pokedex-info-table > tbody > tr > th, .pokedex-info-table > tbody > tr > td,
.pokedex-desc-table > tbody > tr > th, .pokedex-desc-table > tbody > tr > td,
.pokedex-trivia-table > tbody > tr > th, .pokedex-trivia-table > tbody > tr > td,
.pokedex-evolution-table > tbody > tr > th, .pokedex-evolution-table > tbody > tr > td,
.itemdex-desc-table > tbody > tr > th, .itemdex-desc-table > tbody > tr > td,
.itemdex-trivia-table > tbody > tr > th, .itemdex-trivia-table > tbody > tr > td,
.movedex-desc-table > tbody > tr > th, .movedex-desc-table > tbody > tr > td,
.movedex-trivia-table > tbody > tr > th, .movedex-trivia-table > tbody > tr > td {
  background-color: var(--theme-dark-color);
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  text-align: center;
}

.pokedex-types-title,
.pokedex-species-title,
.pokedex-info-title,
.pokedex-desc-title,
.pokedex-trivia-title,
.pokedex-evolution-title,
.itemdex-desc-title,
.itemdex-trivia-title
.movedex-desc-title,
.movedex-trivia-title {
  color: lightseagreen;
  font-weight: bold;
}

.pokedex-info-name {
  color: var(--theme-most-light-color);
}

.pokedex-desc,
.itemdex-desc,
.movedex-desc {
  color: var(--theme-most-light-color);
  text-align: left;
  padding: 4px;
}

.pokedex-game-availability {
  display: flex;
  align-items: center;
}

.pokedex-evolution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}

@media only screen and (max-width: 749px) {
  .pokedex-evolution {
    flex-direction: column;
  }
}

.pokedex-evolution-image {
  background-color: var(--gb-background-color);
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-evolution-requirement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}

.pokedex-evolution-requirement-arrow {
  padding: 7px;
}

@media only screen and (max-width: 749px) {
  .pokedex-evolution-requirement-arrow {
    display: none;
  }
}

.pokedex-evolution-descendants {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 749px) {
  .pokedex-evolution-descendants {
    flex-direction: row;
  }
}

.pokedex-evolution-breakdown {
  text-align: left;
}

.pokedex-evolution-breakdown-list {
  padding-left: 15px;
}

.pokedex-evolution-breakdown-list > li:not(:last-of-type) {
  padding-bottom: 10px;
}

.pokedex-evolution-breakdown-emphasis {
  color: var(--theme-light-color);
}

.pokedex-trivia-list,
.itemdex-trivia-list,
.movedex-trivia-list {
  color: var(--theme-most-light-color);
  text-align: left;
  padding-left: 15px;
}

.pokedex-trivia-list > li:not(:last-of-type),
.itemdex-trivia-list > li:not(:last-of-type),
.movedex-trivia-list > li:not(:last-of-type) {
  padding-bottom: 10px;
}

.pokedex-info-value {
  color: yellowgreen;
  font-weight: bold;
}

.pokemon-image-header,
.item-image-header,
.move-image-header {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.pokemon-image-block, .pokemon-image-block-big,
.item-image-block, .item-image-block-big,
.move-image-block, .move-image-block-big {
  background-color: var(--gb-background-color);
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.pokemon-image-block-big,
.item-image-block-big,
.move-image-block-big {
  width: 180px;
  height: 180px;
  margin: auto;
}

.pokemon-image, .pokemon-image-big,
.item-image, .item-image-big,
.move-image, .move-image-big {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.pokemon-image,
.pokemon-image {
  cursor: cell;
}

.pokemon-name-link {
  color: var(--theme-pokemon-link-color);
  font-weight: bold;
  text-decoration: none;
}

.item-name-link {
  color: var(--theme-item-link-color);
  font-weight: bold;
  text-decoration: none;
}

.move-name-link {
  font-weight: bold;
  text-decoration: none;
}