
body {
  font-family: 'Verdana', 'Arial', 'Tahoma', sans-serif;
  margin: 0;
  padding-bottom: 70px;
  color: white;
  background-color: rgb(168,0,31);
}

h1 {
  color: rgb(212, 167, 167);
  text-align: center;
}

.description {
  font-family: 'Courier New';
  color: white;
}

.collection {
  max-width: 1200px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: rgb(128,0,21);
  border-radius: 9px;
}

.collection-box {
  color: black;
  display: grid;
  background-color: rgb(228,212,228);
  padding: 4px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 9px;
  text-align: center;
  cursor: cell;
  transition: background-color 0.5s ease-out;
}

.collection-box.caught {
  background-color: greenyellow;
  border: 2px dashed rgb(168,0,31);
  transition: all 0.5s ease-in;
}

.collection-name {
  font-family: 'Verdana', 'Arial', 'Tahoma', sans-serif;
  color: rgb(168,0,31);
  font-size: 1.2rem;
}

.collection-dexno {
  color: grey;
  font-weight: bold;
}

.collection-image-block {
  background-color: rgb(248,232,248);
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  transition: border-radius 0.5s ease-out;
}

.collection-image-block.caught {
  border-radius: 100%;
  transition: border-radius 0.5s ease-in;
};

.collection-image {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}